<%- include ('partials/header') %>


<div class="ui main text container segment">
	<div class="ui huge header">New Blog</div>
	<form class="ui form" action="/blogs" method="POST">
		<div class="field">
			<label>Titel</label>
			<input type="text" name="blog[title]" placeholder="Titel van de blogpost" required>
		</div>
		<div class="field">
			<label>Afbeelding</label>
			<input type="text" name="blog[image]" placeholder="URL van de afbeelding">
		</div>
		<div class="field">
			<label>Blog Content</label>
			<textarea name="blog[body]" required></textarea>
		</div>

		<input class="ui primary button" type="submit">
	</form>
</div>



<%- include ('partials/header') %>